html {
    font-size: 16;
}



body {
    background-color: black;
    margin: 0;
}

main {
}

nav a{
    color: white;
    text-decoration: none;
}


.mein-button {
    background-color: #2b2b2b; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    padding: 15px 25px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    font-size: 16px; /* Schriftgröße */
    border: none; /* Kein Rahmen */
    border-radius: 8px; /* Runde Ecken */
    cursor: pointer; /* Mauszeiger ändern bei Hover */
  }
  
  .mein-button:hover {
    background-color: #888888; /* Hintergrundfarbe bei Hover */
  }

.navigator {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

#durchgestringchen {
    text-decoration: line-through;

}

header {
    z-index: 3;
    position: sticky;
    top: 0;
    width: 100%;

}

#sizePorsche {
    padding-left: 2rem;
    padding-top: 2rem;
    width: 6rem;
}

#setToRightPos {
    display: flex;
    margin: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#setPosLoup {
    display: flex;
    justify-content: flex-end;
}

#topFlexBox {
    display: flex;
    justify-content: space-between;
}

#outerFlexbox {
    display: flex;
}

.h2TextPorsche {
    margin: 1rem 0 0 0;
}
#h3TextPorsche {
    margin: 0;
}
#efwefw {
    width: 100%;
}

#fwewfe {
    width: 25rem;
    display: flex;
    align-items: center;
}


#whatIsPorsche {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.grid-container {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.grid-item {
    background-color: #f0f0f0;
    padding: 0 80px;
    text-align: center;
}
.combined {
    grid-column: span 2;
}
.grid-containerDown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 600px);
    gap: 1rem;
}
.grid-itemDown {
    border-radius: 4rem;
    background-color: #ccc;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
}
.grid-itemDown>img {
    max-width: 100%;
    max-height: 100%;
}
.obereDrei {
    display: flex;
}
.untereDrei {
    display: flex;
}
#blackmovingbox  {
background-color: black;
width: 5rem;
position: absolute;
right: 130%;
top: 40%;
}

.e918Spyder {
width: 400px;}


#startVid{
width: 100%;
height: 800px;
}

#Tag918Spyder {
    z-index: 2;
    font-size: 1.3rem;
    color: white;
    position: absolute;
    left: 12%;
    background-color: #4b4b4b;
    top: 131%;
}
.imgSize911Spyder {
    width: 50%;
}


.grid-containerr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  300px; /* 3 rows, first row is auto to fit content */
    grid-gap: 10px; /* adjust the gap between grid items */
    height: 100vh; /* full viewport height */
}

.image-containerr {
    position: relative;
    object-fit: cover;
}

.image-containerr img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tagsToGoTo {
    display: flex;
    justify-content: space-between;
}
#setSizeSoThatTherseAMargin {
    margin-right: 2rem;
}


.allTexts {
    color: white;
}